<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user_regiestr</title>
</head>
<body>
    <h1>welcome regiestr</h1>
    {% with login_mes = get_flashed_messages() %}
        {% if login_mes %}
        <ul>
            {% for mes in login_mes %}
            <li>{{ mes }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    <form action="" method="post">

            #用来实现在配置中激活的csrf保护
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=20) }}
            {% for error in form.username.errors %}
                <span class="error">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=16) }}
            {% for error in form.password.errors %}
                <span class="error">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>

</body>
</html>